

<div class="fish-wrapper" style="animation-play-state: running !important;">
  <div class="fish-container">
    <div class="fish-parts">
      <div class="fish-body front" style="animation-play-state: running !important;"></div>
      <div class="fish-body back" style="animation-play-state: running !important;"></div>
      <div class="fish-back-bottom-fin front" style="animation-play-state: running !important;"></div>
      <div class="fish-back-bottom-fin back" style="animation-play-state: running !important;"></div>
      <div class="fish-back-fin" style="animation-play-state: running !important;"></div>
      <div class="fish-front-bottom-fin front" style="animation-play-state: running !important;"></div>
      <div class="fish-front-bottom-fin back" style="animation-play-state: running !important;"></div>
      <div class="fish-top-fin" style="animation-play-state: running !important;"></div>
    </div>
  </div>
</div>