// stolen from https://codepen.io/mephysto/pen/yapYNX

$goldfish-sprite: "/aquariumtruth/assets/img/human-sprite.png";
$oceanscene: "/aquariumtruth/assets/img/Ocean-underwater-light-wallpaper-hd.jpg";

body{
  perspective: 800px;
  background: url($oceanscene) 50% 50%, linear-gradient(to top, #7f7fd5, #86a8e7, #91eae4);
  background-size: cover;
  height: 100vh;
  
}

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$fish-back-bottom-fin-name: 'fish--back-bottom-fin';
$fish-back-bottom-fin-x: 208px;
$fish-back-bottom-fin-y: 169px;
$fish-back-bottom-fin-offset-x: -208px;
$fish-back-bottom-fin-offset-y: -169px;
$fish-back-bottom-fin-width: 73px;
$fish-back-bottom-fin-height: 68px;
$fish-back-bottom-fin-total-width: 520px;
$fish-back-bottom-fin-total-height: 387px;
$fish-back-bottom-fin-image: '../img/sprite.png';
$fish-back-bottom-fin: (208px, 169px, -208px, -169px, 73px, 68px, 520px, 387px, $goldfish-sprite, 'fish--back-bottom-fin', );
$fish-back-fin-name: 'fish--back-fin';
$fish-back-fin-x: 0px;
$fish-back-fin-y: 0px;
$fish-back-fin-offset-x: 0px;
$fish-back-fin-offset-y: 0px;
$fish-back-fin-width: 208px;
$fish-back-fin-height: 263px;
$fish-back-fin-total-width: 520px;
$fish-back-fin-total-height: 387px;
$fish-back-fin-image: '../img/sprite.png';
$fish-back-fin: (0px, 0px, 0px, 0px, 208px, 263px, 520px, 387px, $goldfish-sprite, 'fish--back-fin', );
$fish-body-name: 'fish--body';
$fish-body-x: 208px;
$fish-body-y: 0px;
$fish-body-offset-x: -208px;
$fish-body-offset-y: 0px;
$fish-body-width: 312px;
$fish-body-height: 169px;
$fish-body-total-width: 520px;
$fish-body-total-height: 387px;
$fish-body-image: '../img/sprite.png';
$fish-body: (208px, 0px, -208px, 0px, 312px, 169px, 520px, 387px, $goldfish-sprite, 'fish--body', );
$fish-front-bottom-fin-name: 'fish--front-bottom-fin';
$fish-front-bottom-fin-x: 281px;
$fish-front-bottom-fin-y: 169px;
$fish-front-bottom-fin-offset-x: -281px;
$fish-front-bottom-fin-offset-y: -169px;
$fish-front-bottom-fin-width: 51px;
$fish-front-bottom-fin-height: 65px;
$fish-front-bottom-fin-total-width: 520px;
$fish-front-bottom-fin-total-height: 387px;
$fish-front-bottom-fin-image: '../img/sprite.png';
$fish-front-bottom-fin: (281px, 169px, -281px, -169px, 51px, 65px, 520px, 387px, $goldfish-sprite, 'fish--front-bottom-fin', );
$fish-top-fin-name: 'fish--top-fin';
$fish-top-fin-x: 0px;
$fish-top-fin-y: 263px;
$fish-top-fin-offset-x: 0px;
$fish-top-fin-offset-y: -263px;
$fish-top-fin-width: 150px;
$fish-top-fin-height: 124px;
$fish-top-fin-total-width: 520px;
$fish-top-fin-total-height: 387px;
$fish-top-fin-image: '../img/sprite.png';
$fish-top-fin: (0px, 263px, 0px, -263px, 150px, 124px, 520px, 387px, $goldfish-sprite, 'fish--top-fin', );
$spritesheet-width: 520px;
$spritesheet-height: 387px;
$spritesheet-image: $goldfish-sprite;
$spritesheet-sprites: ($fish-back-bottom-fin, $fish-back-fin, $fish-body, $fish-front-bottom-fin, $fish-top-fin, );
$spritesheet: (520px, 387px, $goldfish-sprite, $spritesheet-sprites, );

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/* 
  CSS ANIMATIONS
*/


@keyframes rotatingAnimation {
  0%{
    transform: translate3d(0,0,0px) rotateY(0deg);
  }
  100% {
    transform: translate3d(0,0,0px) rotateY(360deg);
  }
}

$fishSize:0.5;
@keyframes swimmingAnimation {
  0% {
    transform: translate3d(0,0,300px) scale($fishSize) rotateY(-10deg);
  }
  100%{
    transform: translate3d(0,0,300px) scale($fishSize) rotateY(10deg);
  } 
}

@keyframes wiggle-end {
  0%   { transform: rotateY(-10deg); }
  100% { transform: rotateY(10deg); }
}

@keyframes wiggle-body {
  0%   { transform: rotateY(-10deg); }
  100% { transform: rotateY(10deg); }
}

@keyframes fish-lift {
  0%   { transform: translate(0px, 12px); }
  100% { transform: translate(0px, -12px); }
}
@keyframes fish-roll {
  0%   { transform: rotateX(-10deg); }
  100% { transform: rotateX(10deg); }
}

/*
  Fish Styling
*/

.fish-wrapper{
  transform-style: preserve-3d;
  animation: rotatingAnimation 10000ms infinite linear;
}
.fish-container{
  position: absolute;
  z-index: 500;
  left: 50%;
  top: 50%;

  perspective: 10000px;
  transform-style: preserve-3d;

  .fish-body{
    @include sprite($fish-body);
    top: $fish-body-height * -.5;
    left: $fish-body-width * -.5;
    &.front{
      z-index: 300;
      transform-origin: 100% 50%;
      transform: rotateY(5deg);
    }
    &.back{
      z-index: 100;
      transform-origin: 100% 50%;
      transform: rotateY(-5deg);
    }
  }
  .fish-top-fin {
    @include sprite($fish-top-fin);
    left: -157px;
    top: -176px;
    transform-origin: 50% 100%;
    animation: fish-roll 1750ms infinite alternate ease-in-out;
  }
  .fish-back-bottom-fin{
    @include sprite($fish-back-bottom-fin);
    left: -106px;
    top: 61px;
    &.front{
      z-index: 300;
      transform-origin: 50% 0%;
      animation: fish-roll 1750ms infinite alternate ease-in-out;
    }
    &.back{
      z-index: 100;
      transform-origin: 50% 0%;
      animation: fish-roll 1750ms infinite alternate-reverse ease-in-out;
    }
  }
  .fish-back-fin{
    @include sprite($fish-back-fin);
    left: -320px;
    top: -91px;
    background-position: 0% 0;
    transform-origin: 105% 0;
    animation: wiggle-end 200ms infinite alternate ease-in-out;
  }
  .fish-front-bottom-fin{
    @include sprite($fish-front-bottom-fin);
    left: -1px;
    top: 46px;
    &.front{
      z-index: 300;
      transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      animation: fish-roll 1750ms infinite alternate ease-in-out;
    }
    &.back{
      z-index: 100;
      transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      animation: fish-roll 1750ms infinite alternate-reverse ease-in-out;
    }
  }
}
.fish-parts{
  transition: 250ms;
  transform-style: preserve-3d;
  animation: swimmingAnimation 1000ms infinite alternate ease-in-out;
  > div{
    position: absolute;
    z-index: 200;
  }
}